:root {
  --primary: #1A2B39;
  --secondary: #201D1D;
  --white: white;
  --light: rgb(117, 113, 113);
}

* {
  color: var(--white);
  padding: 0px;
  margin: 0px;
}
.z-index-5{
  z-index: 1;
}

.btn {
  mask-type: luminance;
  cursor: pointer;
}

.fixed {
  position: fixed;
}

hr {
  background-color: var(--light) !important;
}

.b-r-2 {
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
.left-20 {
  left: 17.5%;
  position: absolute;
  width: 80%;
  padding-right: 40px;
  z-index: 4;
  height: calc(100% - 50px);
  overflow-y: scroll;
  scroll-behavior: smooth;
    scrollbar-color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.left {
  left: 0px;
  width: 15%;
  min-height: 100%;
}

.flex-center {
  align-items: center;
}

.flex-space {
  justify-content: space-between;
}
.flex-center-justify{
  justify-content: center;
}
.text-center{
  text-align: center;
}
.title {
  padding: 0px;
  padding-top: 8px;
  top: 0px;
  z-index: 5;
  height: 60px;
  width: 100%;
}

.nav-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.p-session {
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-color: transparent;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cirle-2 {
  width: 2.4em;
  height: 2.4em;
  border-radius: 1.2em;
  -webkit-border-radius: 1.2em;
  -moz-border-radius: 1.2em;
  -ms-border-radius: 1.2em;
  -o-border-radius: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cirle-1 {
  width: 1.4em;
  height: 1.4em;
  border-radius: 0.7em;
  -webkit-border-radius: 0.7em;
  -moz-border-radius: 0.7em;
  -ms-border-radius: 0.7em;
  -o-border-radius: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cirle-4 {
  width: 4em;
  height: 4em;
  border-radius: 2em;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cirle-3 {
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -ms-border-radius: 1.5em;
  -o-border-radius: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-r-1 {
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
}

.b-r-01 {
  border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -ms-border-radius: 0.5em;
  -o-border-radius: 0.5em;
}

p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.session-board{
  height: 65%;
  background: linear-gradient(var(--secondary), var(--primary));
}
.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

h3 {
  font-weight: 900;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-size: 1.2em;
}

.font-s-2 {
  font-size: 3em;
  font-weight: 100;
}

.bg-primary {
  background-color: var(--primary);
}

.bg-dark {
  background-color: rgb(30, 28, 28);
}

.bg-secondary {
  background-color: var(--secondary);
}

.justify-center {
  justify-content: space-between;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.pt-01 {
  padding-top: 0.5rem;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 5;
}

.flex-6 {
  flex: 6;
}

.m-1{
  margin: 1rem;
}

.p-1 {
  padding: 1rem;
}
.p-01 {
  padding: 0.5rem;
}
.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-1 {
  padding-bottom: 1rem;
}
.mb-1{
  margin-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pl-1 {
  padding-left: 1rem;
}
.pl-4{
  padding-left: 4rem;
}
.pl-3 {
  padding-left: 3rem;
}
.pl-01 {
  padding-left: 0.5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-01 {
  margin-left: 0.5rem;
}

.mlr-01 {
  margin-left: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.opacity-6 {
  opacity: 0.6;
}

.opacity-8 {
  opacity: 0.8;
}

.play-board {
  width: 80%;
  height: 50px;
  position: absolute;
  bottom: 50px;
  right: 5px;
  border: solid var(--light) 2px;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -ms-border-radius: 1em;
  -o-border-radius: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.player {
  position: fixed;
  bottom: 0px;
  width: 52%;
  height: 50px;
  right: 30%;
  margin-right: 8px;
  left: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 40;
  background-color: var(--secondary);
}

.progress-contaner {
  background-color: rgb(114, 114, 114);
  width: 10em;
  border-radius: 15px;
  height: 5px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.progress-contaner:hover>.progress {
  background-color: rgb(7, 75, 7);
}

.progress {
  background-color: #037AFF;
  border-radius: 15px;
  height: 3px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.btn:hover {
  opacity: 0.7;
  filter: contrast();
  -webkit-filter: contrast();
}
.messaging-members,
.messaging {
  border: solid var(--light) 2px;
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 25%;
  height: 50px;
  z-index: 15;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(18, 31, 41);
}
.messaging-members {
  bottom: 40px;
}

.message {
  border: solid var(--light) 2px;
  position: fixed;
  bottom: 130px;
  right: 26%;
  width: 25%;
  height: 60%;
  z-index: 15;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(18, 31, 41);
}
.chat-send-active,
.chat-send {
  border: solid var(--light) 2px;
  position: fixed;
  z-index: 20;
  width: 25%;
  right: 26%;
  bottom: 90px;
  height: 50px;
  border: solid transparent 2px;
}

.chat-send-active{
  left: 0px;
  right: auto;
  bottom: -20.5px;
  height: 100px;
  width: 19.9%;
}
.char-textarea {
  width: 97%;
  border: solid 0px;
  color: aliceblue;
  padding: 4px;
}

.bg-default{
  background-color: rgb(18, 31, 41);
}
.join-session {
  border: solid var(--light) 2px;
  position: fixed;
  bottom: 80px;
  right: 25%;
  width: 50%;
  height: 75%;
  z-index: 10;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(18, 31, 41);
}
.messages-list{
  overflow-y: scroll;
  scroll-behavior: smooth;
    scrollbar-color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
  height: 75vh;
}
.income-messages-list{
overflow-y: scroll;
scroll-behavior: smooth;
  scrollbar-color: transparent;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 50vh;
}
.card {
  border: solid 1px var(--secondary);
  background-color: var(--primary);
  width: auto;
  margin: 8px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.card-column {
  border: solid 1px var(--secondary);
  background-color: var(--primary);
  width: auto;
  margin: 8px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  align-items: flex-start;
}

.join-list {
  height: 65vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
    scrollbar-color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
  overflow-x: hidden;
}

.button {
  padding: 4px;
  width: 80px;
  height: 30px;
  border: solid 2px var(--light);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-success {
  background-color: rgb(11, 64, 11);
}

.bg-danger {
  background-color: rgb(91, 38, 38);
}

table {
  width: 100%;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
.text-danger{
color: rgb(176, 23, 23);
}
.playSearch-textArea,
.playSearch {
  width: 70%;
  height: 30px;
  background-color: #30363b;
  border: none;
  padding: 4px;
  margin-top: 8px;
}

.playSearch-textArea {
  height: 60px;
}

.addPlayList {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  padding: 4px 8px;
  border: solid var(--light) 2px;
}

.addPlayList:hover{
background-color: var(--secondary);
}


.link {
  color: rgb(83, 83, 254);
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-section {
  width: 400px;
}

.btn-card {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 350px;
  padding: 16px;
  margin: 4px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  border: solid var(--light) 2px;
}

.w-100 {
  width: 100%;
}

.bold {
  font-weight: 900;
}
.share-contaner,
.search-contaner {
  position: fixed;
  width: 50%;
  left: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-radius: 10px;
  z-index: 30;
  border: solid var(--light) 2px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.share-contaner{
  top: 10vh;
  left: 25;
}

.notifaction-contaner {
  position: fixed;
  width: 50%;
  left: 25%;
  bottom: 80px;
  z-index: 30;
  border: solid var(--light) 2px;
  background-color: var(--secondary);
}
.notification-list{
  margin-top: 4px;
  height: 70%;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
    scrollbar-color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
}
.search {
  width: 100%;
  height: 50px;
  padding: 8px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.search-btn{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.h-100{
  height: 70%;
}

.account{
  position: fixed;
  right: 0px;
  top: 10px;
  z-index: 10;
  width: 25%;
}

.createSession{
  position: fixed;
  width: 35%;
  height: 65%;
  bottom: 20%;
  z-index: 10;
  left: 35%;
  padding: 8px;
  border: solid var(--light) 2px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

#switched {
  cursor: pointer;
  text-indent: -9999px;
  width: 50px;
  height: 28px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
}

#switched:after {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 18px;
  background: var(--secondary);
  border-radius: 90px;
  transition: 0.3s;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
  -ms-border-radius: 90px;
  -o-border-radius: 90px;
}

#switch:checked+#switched {
  background: var(--primary);
}

#switch:checked+#switched:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

#switched:active:after {
  width: 120px;
}

.form-control{
  overflow-y: scroll;
  height: 50vh;

}

.active-users{
  position: fixed;
  width: 20%;
  margin-top: 10%;
  height: 90%;
  border-top-left-radius: 10px;
  border: solid var(--light) 2px;
  border-top-right-radius: 10px;
  background-color: var(--secondary);
}
.active-list{
  height: 55vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
    scrollbar-color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.btn-back{
  position: fixed;
  border: solid var(--light) 2px;
  border-radius: 10px;
  background-color: var(--secondary);
  margin: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.cart-room-share,
.cart-room-invite,
.cart-room-board{
  width: 80%;
  position: fixed;
  height: 90%;
  left: 20.5%;
}

.cart-room-invite{
  left: 25.5%;
}

.cart-room-share {
  left: 30.5%;
}
.invite{
  position: fixed;
  left: 25%;
  width: 50%;
  height: 70vh;
  bottom: 68px;
  border: solid var(--light) 2px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.addToPlayList{
  width: 79%;
  position: fixed;
  left: 21%;
  border: solid var(--light) 2px;
  bottom: 80px;
  height: 60%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.btn-default{
  border: solid var(--light) 2px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.playList-list-save{
  width: 100%;
  height: 250px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-color: transparent;
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.lyrics{
  background-color: var(--primary);
  width: 48%;
  height: 65vh;
  position: fixed;
  top: 15%;
  left: 24%;
  border: solid var(--light) 2px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.lyrics-text{
  height: 60vh;
  width: 100%;
  overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-color: transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
    text-shadow: #30363b;
    line-height: 30px;
    font-size: 1.5em;
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

.logIn-alert{
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 50;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card{
  width: 60vw;
  height: 60vh;
  background: linear-gradient(0deg, var(--secondary), var(--primary) 40%, rgb(18, 31, 41));;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.btn-login{
  padding: 16px 24px;
  border: solid var(--light) 2px;
  border-radius: 10px;
  background: green;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.sign-in{
  color: var(--light);
}
.login-btn{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-image{
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

@media only screen and (max-width: 900px) {
  .nav{
    display: none;
    padding: 0px;
  }
  .left{
    width: 60px;
    padding: 0px;
    padding-left: 8px;
    padding-top: 10px;
    margin: 0px;
  }
  .nav-icon{
    width: 48px;
    height: 48px;
  }
  .left-20{
    width: 95%;
    left: 65px;
  }
  .account{
    width: 35%;
  }
  .title{
    font-size: 1.3em;
  }
  .player{
    width: 50%;
  }
  .cart-room-invite{
    left: 28%;
  }
  .cart-room-share{
    left: 35%;
  }
  .progress-contaner{
    width: 8em;
  }
}
